apiVersion: v1
kind: Pod
metadata:
  name: secrets-server-pod
  labels:
    app: pythonserver
spec:
  containers:
  - name: secrets-server-pod
    image: localhost:5000/k8s_secrets_server
    volumeMounts:
    - name: secrets-volume
      mountPath: "/secrets"
      readOnly: true
    ports:
    - containerPort: 80
  volumes:
  - name: secrets-volume
    secret:
      secretName: database-access
