apiVersion: v1
kind: Pod
metadata:
  name: secrets-server-pod
spec:
  containers:
  - name: secrets-server-pod
    image: k8s-secrets-server
    volumeMounts:
    - name: secrets-volume
      mountPath: "/secrets"
      readOnly: true
  volumes:
  - name: secrets-volume
    secret:
      secretName: database-access
